append styles
	// Custom styles for this template
	link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css', rel='stylesheet')
	link(href='css/custom.css', rel='stylesheet')
block body
	+navbar("Goldwatch","navbar","inverse")
		+nav_item("/") Home
		+nav_item("/goldchanges") Gold changes
		+nav_item("/mail") Mail overview
		+nav_item("/about", "active") About
	.container
		.starter-template
			h1 #{aboutTitle}
			p #{content}