extends layout.pug
block content
	div.jumbotron
		h1 Goldwatch
		p
			span Thank you for using Goldwatch v#{version}!
			span.badge.badge-secondary  Update!
		p This software is MIT licenced and still in beta.

	p
		table(class='overview' style='width:100% cell-', border='1')
			tr
				th Name
				th Gold
				th Playing time
				each player in players
					tr
						td #{player.name}
						td #{player.getFormattedMoney()}
						td #{player.totaltime}