extends layout.pug
block content
	p
		h1 #{homeTitle}
		p
			table(class='overview' style='width:100% cell-', border='1')
				tr
					th To
					th From
					th Amount
					th Date
						tr
							td todo
							td todo
							td todo
							td todo
					//- each player in players
					//- 	tr
					//- 		td #{player.name}
					//- 		td #{player.getFormattedMoney()}
					//- 		td #{player.totaltime}
	

