extends layout.pug
block content
	p
		table.table
			tr
				th Name
				th Money
				th Change
				each transaction in transactions
					tr
						td #{transaction.name} (#{transaction.level})
						td #{transaction.money}
						td #{transaction.change}%
