extends layout.pug
block content
	p
		table(class='overview' style='width:100% cell-', border='1')
			tr
				th To
				th From
				th Amount
				th Transaction-type
				each transaction in transactions
					tr
						td #{transaction.to}
						td #{transaction.from}
						td #{transaction.amount}
						td #{transaction.type}