body {
  padding-top: 56px;
  background-color: lightgrey;
}
main > .container {
  padding: 60px 15px 0;
  background-color: white;
}

.footer {
  background-color: lightgrey;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}